@import url('/assets/iconfont/iconfont.css');

/*调整导航栏*/
nav#nav .menus_items {
    margin-left:30px;
}


/*侧栏头像缩放的效果*/
div.avatar-img img[alt="avatar"] {
    -webkit-transition: unset !important;
    display: block;
    transition: transform 0.5s ease !important;;
}

div.avatar-img img[alt="avatar"]:hover {
    transform: scale(1.2);
}


/*社交图标缩放的效果*/
div.card-info-social-icons  a.social-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    color: var(--font-color);
    margin: 0 10px;
  } 

div.card-info-social-icons i.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    transition: all 0.3s;
}

div.card-info-social-icons i.iconfont:hover {
    transform: scale(1.2);
    font-size: 25px;
  }


/*侧栏的样式*/
div#sidebar-menus div.author-info__name {
    font-weight: 500;
    font-size: 1.57em;
}

div#sidebar-menus div.avatar-img ,div#sidebar-menus div.card-info-social-icons, div#sidebar-menus div.sidebar-site-data {
    margin-top: 20px !important;
}


/*调整首页post卡片*/
div#recent-posts {
    padding: 2px;
}


/*调整post和page的正文字体大小*/
article, #page #article-container {
  font-size: 17px !important;
}